[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=jm
Group=jm
Type=simple
ExecStart=/usr/local/bin/alertmanager \
--config.file /etc/alertmanager/alertmanager.yml \
--storage.path="/home/jm/Downloads/" \
--web.external-url="http://127.0.0.1" \
--web.listen-address=":9093"

[Install]
WantedBy=multi-user.target